/*公共头部样式S*/

.header {
	height: 0.8rem;
	width: 100%;
	font-size: 0;
	font-family: "微软雅黑";
	background: white;
	box-shadow: 0px 0.05rem 0.08rem #D2D6D9;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
}

.head_info .info {
	display: inline-block;
	line-height: 0.8rem;
	font-size: 0.30rem;
	font-weight: 600;
	width: 100%;
	text-align: center;
	color: black;
	letter-spacing: 0.2em;
	position: relative;
}

.head_info .back {
	line-height: 0.8rem;
	width: 1rem;
	position: absolute;
	top: 0;
	text-align: center;
	z-index: 1;
}

.back img {
	vertical-align: middle;
}


/*公共头部样式E*/


/*公共底部样式S*/

.foot {
	height: 1rem;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: white;
	font-size: 0;
	box-shadow: 0px -0.05rem 0.08rem #D2D6D9;
}

.footer li {
	float: left;
	width: 25%;
	height: 0.8rem;
	text-align: center;
}

.footer span {
	display: block;
}

.footer span:nth-child(2) {
	font-size: 0.12rem;
	color: #C4C4C4;
}

.footer span:nth-child(1) {
	display: inline-block;
	height: 0.50rem;
	background-size: 0.50rem;
	width: 100%;
}

.footer .index {
	background: url(../img/index.jpg)no-repeat center;
}

.footer .contact {
	background: url(../img/phone.jpg)no-repeat center;
}

.footer .cardInfo {
	background: url(../img/cardinfo.jpg)no-repeat center;
}

.footer .person {
	background: url(../img/person.jpg)no-repeat center;
}

.footer .index0 {
	background: url(../img/index0.jpg)no-repeat center;
}

.footer .contact0 {
	background: url(../img/phone0.jpg)no-repeat center;
}

.footer .cardInfo0 {
	background: url(../img/cardinfo0.jpg)no-repeat center;
}

.footer .person0 {
	background: url(../img/person0.jpg)no-repeat center;
}

.footer span.blue {
	color: #51BEEF;
}


/*公共底部样式E*/


/*公共验证码样式S*/

.code input {
	display: inline-block;
	width: 100%;
	font-size: 0.26rem;
}

#btn_Code {
	color: #51BEEF;
}

.gainCode {
	width: 30% !important;
	position: relative;
}

.gainCode input {
	font-size: 0.26rem !important;
	width: 100% !important;
	border-left: 0.015rem solid #EFF3F6;
	position: absolute;
	right: 2%;
	top: -0.2rem;
	z-index: 1;
	height: 0.7rem;
}


/*公共验证码样式E*/


/*公共list样式S*/

.list_t {
	line-height: 0.7rem;
	background: white;
	padding: 0 2%;
}

.date {
	color: #B2B2B2;
}

.list_m {
	padding: 0.15rem 0;
	font-size: 0.20rem;
	width: 96%;
	margin: 0 auto;
}

.list_pic {
	width: 24%;
}

.list_pic img {
	vertical-align: middle;
	width: 100%;
}

.list_datil {
	width: 74%;
}

.list_datil span {
	line-height: 0.4rem;
}

.list_datil b {
	font-weight: normal;
	color: #FA8861;
}

.list_b {
	line-height: 0.7rem;
	background: white;
	padding: 0 2%;
	text-align: end;
}

.list_b a {
	font-size: 0.22rem;
	color: white;
	width: auto;
	line-height: initial;
	padding: 0.08rem 3%;
	border-radius: 0.1rem;
	background: -webkit-linear-gradient(left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
	/* 标准的语法 */
}


/*公共list样式E*/


/*首页样式S*/

.index_content {
	margin-top: 0.8rem;
}


/*轮播图S*/

.focus {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.focus .hd {
	width: 100%;
	height: 11px;
	position: absolute;
	z-index: 1;
	bottom: 5px;
	text-align: center;
}

.focus .hd ul {
	display: inline-block;
	height: 5px;
	padding: 3px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 0;
	vertical-align: top;
}

.focus .hd ul li {
	display: inline-block;
	width: 5px;
	height: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #A3C5EC;
	margin: 0 5px;
	vertical-align: top;
	overflow: hidden;
}

.focus .hd ul .on {
	background: white;
}

.focus .bd {
	position: relative;
	z-index: 0;
}

.focus .bd li img {
	width: 100%;
}

.focus .bd li a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* 取消链接高亮 */
}


/*轮播图E*/

.index_list div:nth-of-type(1) {
	margin-top: 0.01rem;
}

.index_list>div {
	margin-top: 0.15rem;
}

.index_nav {
	background: white;
	font-size: 0;
	padding: 0.08rem 0;
}

.index_nav span {
	display: inline-block;
	font-size: 0.20rem;
	color: #000;
	width: 100%;
	padding: 0.05rem 0 0 0;
}

.nav_img {
	display: inline-block;
	width: 33%;
}

.nav_img img {
	width: 100%;
}

.index_nav>div {
	display: inline-block;
	width: 33.3%;
	text-align: center;
}

.index_list m {
	display: inline-block;
	width: 5%;
	height: 0.4rem;
	margin-top: 0.15rem;
	line-break: 0.6rem;
	background: url(../img/order.png) no-repeat center;
	background-size: 100% 100%;
	float: left;
	margin-left: 2%;
}

.index_list>p {
	margin-top: 0.15rem;
	background: white;
}

.index_list p span {
	display: block;
	float: left;
	line-height: 0.7rem;
	padding-left: 1%;
}


/*首页样式E*/


/*绑卡信息样式S*/

.bk_content {
	margin-top: 0.98rem;
}

.bk_content_t ul li {
	font-size: 0.26rem;
	padding: 0.175rem 2%;
	background: white;
	border-bottom: 0.01rem solid #EFF3F6;
}

.bk_content span:nth-child(2) {
	color: #C6C6C6;
}

.changeCard {
	line-height: 0.8rem;
	text-align: center;
	font-size: 0.30rem;
	width: 94%;
	margin-left: 3%;
	margin-top: 0.8rem;
	border-radius: 0.1rem;
	background: -webkit-linear-gradient(left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
	/* 标准的语法 */
}

.changeCard a {
	color: white;
	letter-spacing: 0.1em;
}

.bk_content .changeCard {
	margin-top: 0.8rem;
}


/*绑卡信息样式E*/


/*绑卡样式S*/

.bk1_content {
	margin-top: 0.98rem;
}

.bk1_content_t ul li {
	font-size: 0.26rem;
	padding: 0.175rem 2%;
	background: white;
	border-bottom: 0.01rem solid #EFF3F6;
}

.bk1_content .gainCode input {
	top: -0.18rem;
}

.bk1_content span {
	display: inline-block;
	width: 72%;
}

.bk1_content span:nth-child(1) {
	width: 25%;
}

.bk1_content span:nth-child(2) input {
	display: inline-block;
	width: 100%;
	font-size: 0.26rem;
}

.bk1_content ul .code {
	width: 69%;
}

.bk1_content_m {
	height: 0.7rem;
	line-height: 0.70rem;
	font-size: 0.016rem;
}

.bk1_content_m span {
	padding: 0 2%;
	width: auto !important;
}

.bk1_content_m span a {
	color: #51BEEF;
	font-size: 0.22rem;
}

.changeCard {
	margin-top: 0.15rem;
}

.changeCard1 {
	line-height: 0.8rem;
	text-align: center;
	font-size: 0.30rem;
	width: 94%;
	margin-left: 3%;
	margin-top: 0.2rem;
	border-radius: 0.1rem;
	border: 0.01rem solid #77C9EF;
}

.changeCard1 a {
	color: #16B2EF;
	letter-spacing: 0.1em;
}

.statement {
	width: 94%;
	font-size: 0.18rem;
	margin: 0.2rem auto;
	position: relative;
}

.statement input[type=checkbox] {
	position: absolute;
	width: 0.28rem;
	height: 0.28rem;
	left: 0;
	top: 0.03rem;
	opacity: 0;
}

.statement img {
	vertical-align: bottom;
	width: 5.5%;
}

.agree {
	display: none;
}

.statement m {
	margin-left: 0.5%;
	font-size: 0.20rem;
}

.statement a {
	color: #51BEEF;
	margin-left: 5%;
	width: auto;
	line-height: 0.38rem;
}

.statement_b {
	margin-top: 0.1rem;
}


/*绑卡样式样式E*/


/*换卡样式S*/

.card_content {
	margin-top: 0.98rem;
}

.card_content_t ul li {
	font-size: 0.26rem;
	padding: 0.175rem 2%;
	background: white;
	border-bottom: 0.01rem solid #EFF3F6;
}

.card_content span {
	display: inline-block;
	width: 72%;
}

.card_content span:nth-child(1) {
	width: 25%;
}

.card_content span:nth-child(2) input {
	display: inline-block;
	width: 100%;
	font-size: 0.26rem;
}


/*换卡样式E*/


/*修改密码样式S*/

.passWd_content {
	margin-top: 0.98rem;
}

.passWd_content_t {
	font-size: 0.20rem;
	text-align: center;
}

.passWd_content_m {
	font-size: 0;
	margin-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.passWd_content_m li {
	font-size: 0.25rem;
	padding: 0.175rem 2%;
	background: white;
	border-bottom: 0.01rem solid #EFF3F6;
}

.passWd_content_m input {
	display: inline-block;
	font-size: 0.26rem;
	width: 100%;
}

.passWd_content .changeCard {
	margin-top: 0.20rem;
}


/*修改密码样式E*/


/*绑定手机样式S*/

.phone_content {
	margin-top: 0.98rem;
}

.phone_content_m {
	margin-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.phone_content_m li {
	font-size: 0.25rem;
	padding: 0.175rem 2%;
	background: white;
	border-bottom: 0.01rem solid #EFF3F6;
}

.phone_content_m input {
	display: inline-block;
	font-size: 0.26rem;
	width: 100%;
}

.phone_content_m ul .code {
	width: 69%;
	/*border-right: 0.015rem solid #EFF3F6;*/
}

.phone_content .changeCard {
	margin-top: 0.20rem;
}


/*绑定手机样式E*/


/*编辑基础信息样式S*/

.changeInfo_con {
	margin-top: 0.98rem;
}

.changeInfo_con_t ul li {
	font-size: 0.26rem;
	padding: 0.175rem 2%;
	background: white;
	border-bottom: 0.01rem solid #EFF3F6;
}

.changeInfo_con span {
	display: inline-block;
	width: 72%;
}

.changeInfo_con span:nth-child(1) {
	width: 25%;
}

.changeInfo_con span:nth-child(2) input {
	display: inline-block;
	width: 100%;
	font-size: 0.26rem;
}

.changeInfo_con_b .changeCard {
	margin-top: 1rem;
}

.changeInfo_con_t select {
	width: 30%;
	position: relative;
	font-size: 0.26rem;
	background-color: transparent;
	border-color: transparent;
	/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	border: none;
	/*很关键：将默认的select选择框样式清除*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*留出一点位置，避免被文字覆盖*/
	padding-right: 5.2%;
	padding-left: 1%;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

.changeInfo_con_t select::-ms-expand {
	display: none;
	.xiala img
}

.xiala {
	position: relative;
}

.xiala img {
	width: 0.22rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


/*编辑基础信息样式E*/


/*基础信息样式S*/

.baseInfo_con {
	margin-top: 0.98rem;
}

.baseInfo_con_t {
	font-size: 0.26rem;
}

.baseInfo_con_t a {
	width: 18%;
	position: absolute;
	right: 2%;
	text-align: end;
}

.baseInfo_con_t a img {
	width: 13%;
	vertical-align: middle;
}

.baseInfo_con_t ul li {
	font-size: 0.26rem;
	line-height: 0.70rem;
	padding: 0 2%;
	background: white;
	border-bottom: 0.01rem solid #EFF3F6;
}

.baseInfo_con_t span {
	display: inline-block;
	width: 75%;
}

.baseInfo_con_t span:nth-child(1) {
	width: 25%;
}

.baseInfo_con_m {
	margin-top: 0.15rem;
}

.baseInfo_con_m .bianji {
	line-height: 0.75rem;
	padding: 0 2%;
}

.bianji a {
	color: #51BEEF;
}

.bianji span:nth-child(2) {
	width: 15%;
	text-align: end;
}

.baseInfo_con_m ul li {
	font-size: 0.26rem;
	padding: 0.175rem 2%;
	background: white;
	border-bottom: 0.01rem solid #EFF3F6;
}

.baseInfo_con span:nth-child(2) {
	color: #C6C6C6;
}

.baseInfo_con_b {
	margin-top: 0.15rem;
	font-size: 0.28rem;
}

.baseInfo_con_b span {
	display: block;
	line-height: 0.75rem;
	background: white;
	padding-left: 2%;
}

.img {
	display: inline-block;
	width: 25%;
	margin:0.15rem 0 0 2%;
	position: relative;
}
div.img:last-child{
	margin-left:0%;
}
.img img {
	display: inline-block;
	width:100%;
}
.img input{
	display: inline-block;
	position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    filter:alpha(opacity:0); 
}
/*新增退出按钮*/
.quit{
	margin: 0 auto;
    margin-top: 0.4rem;
    width: 94%;
    text-align: center;
    border-radius: 0.1rem;
    line-height: 0.8rem;
    background: -webkit-linear-gradient(left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
    background: -o-linear-gradient(left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
    background: -moz-linear-gradient(left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
    background: linear-gradient(to left, #3287DA 20%, #1FA4E9, #08C5F9 60%);
}
.quit a{
	color:white;
    letter-spacing: 0.1em;
    font-size:0.30rem;
}
/*地址样式*/


/*.now_add,.detail_add{
	position: relative;
}
.now_add span:nth-child(2),.detail_add span:nth-child(2){
	text-align: end;
	width: 75%;
	line-height: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right:2%;
}*/


/*基础信息样式E*/


/*订单列表样式S*/

.list_content {
	margin-top: 0.83rem;
	border-top: 1px solid transparent
}

.list_content>div {
	margin-top: 0.15rem;
}


/*订单列表样式E*/


/*账单明细样式S*/

.detail_content {
	margin-top: 0.98rem;
}

.detail_con_t {
	background: white;
}

.detail_con_t1 {
	width: 95%;
	margin: 0 auto;
	border-radius: 0.1rem;
	background: #17B2EF;
	position: relative;
	color: white;
}

.detail_con_t1 img {
	position: absolute;
	right: 3%;
	top: -0.08rem;
	display: inline-block;
	width: 42%;
}

.detail_con_t1>div {
	padding: 0.1rem;
}

.every p {
	font-size: 0.4rem;
}

.total {
	margin-top: 0.2rem;
}

.detail_con_t1 span {
	font-size: 0.20rem;
}

.detail_con_t2>div {
	padding: 0.15rem 0;
	width: 94%;
	margin: 0 auto;
}

.detail_con_t2 div:nth-child(2) {
	border-top: 0.01rem solid #EFF3F6;
}

.detail_content_b {
	margin-top: 0.15rem;
	background: white;
}

.detail_content_b .title {
	line-height: 0.7rem;
	padding: 0 2%;
	border-bottom: 0.01rem solid #EFF3F6;
	color: #51BEEF;
}

.detail_content_b li {
	padding: 0 2%;
	font-size: 0.20rem;
	line-height: 0.7rem;
	border-bottom: 0.01rem solid #EFF3F6;
}

.detail_content_b li span:nth-child(1) {
	padding: 0 0.45rem;
}

.detail_content_b li .huankuan {
	text-align: end;
	float: right;
}


/*账单明细样式E*/